#gate{

position:absolute;
inset:0;

display:flex;

cursor:pointer;

}

.door{

width:50%;
height:100%;

overflow:hidden;

transition:transform 1.8s ease;

}

.door img{

width:200%;
height:100%;

object-fit:cover;

}

.left img{

left:0;
position:relative;

}

.right img{

right:100%;
position:relative;

}

.open .left{

transform:translateX(-100%);

}

.open .right{

transform:translateX(100%);

}
