/* ==========================
   GATE
========================== */

#gate{
    position:absolute;
    inset:0;
    display:flex;
    overflow:hidden;
    cursor:pointer;
    z-index:100;
}

.door{
    width:50%;
    height:100%;
    overflow:hidden;
    position:relative;

    transition:transform 1.8s ease-in-out;
}

.door img{
    position:absolute;
    top:0;
    width:200%;
    height:100%;
    object-fit:cover;
}

/* LEFT HALF */

.left img{
    left:0;
}

.left{
    transform-origin:right center;
}

/* RIGHT HALF */

.right img{
    right:0;
}

.right{
    transform-origin:left center;
}

/* OPEN ANIMATION */

.open .left{
    transform:translateX(-100%);
}

.open .right{
    transform:translateX(100%);
}
