*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#0b0803;
    font-family:Georgia,serif;
}

#world{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle at center,
    #6b5315 0%,
    #2d2208 45%,
    #080603 100%);
}

#gate{

    width:92vw;
    height:94vh;

    border-radius:34px;

    background:
    linear-gradient(
    145deg,
    #fff4b0 0%,
    #f7d86d 12%,
    #d7a72d 30%,
    #b67d10 55%,
    #f8df87 82%,
    #fff6c5 100%);

    box-shadow:
    inset 0 0 60px rgba(255,255,255,.35),
    inset 0 0 140px rgba(130,80,0,.45),
    0 25px 80px rgba(0,0,0,.55);

    display:flex;
    justify-content:center;
    align-items:center;
}

.gate-title{

    font-size:clamp(48px,8vw,90px);

    font-weight:bold;

    color:#6e4a00;

    text-shadow:
    1px 1px 0 #fff4bf,
    -1px -1px 0 #9a6b08,
    0 4px 18px rgba(255,235,150,.45);

    letter-spacing:2px;
}
